.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;

  .works {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    width: 100%;
  }

  .img-container {
    width: 30%;
    img {
      width: 100%;
    }
  }
}
