#list-container {
  .link.logo {
    cursor: initial;
    // margin-right: auto;
  }

  #nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0 2rem;

    // li:first-child {
    //   margin-right: auto;
    // }

    #links {
      // flex-grow: 0.5;
      // padding-right: 10%;

      li {
        padding-left: 0;
      }
    }

    > li {
      // padding-left: 1rem;

      > ul {
        display: flex;
        list-style-type: none;

        > li {
          padding: 0 0.5rem;
        }
      }
    }
  }
}
