<div id="list-container">
  <ul id="nav-list">
    <li class="link">
      <h5 [routerLink]="['/']">Mikal Callahan</h5>
    </li>
    <li>
      <ul>
        <li class="link link--no-underline">
          <h5 [routerLink]="['/']"><a href="/">about</a></h5>
        </li>
        <li class="link link--no-underline">
          <h5 [routerLink]="['/projects']"><a href="/projects">projects</a></h5>
        </li>
        <li class="link link--no-underline">
          <h5 [routerLink]="['/thoughts']"><a href="/thoughts">thoughts</a></h5>
        </li>
      </ul>
    </li>
  </ul>
</div>
