<div id="list-container">
  <ul id="nav-list">
    <li class="link">
      <h5 [routerLink]="['/']"><a>Mikal Callahan </a></h5>
    </li>
    <li id="links">
      <ul>
        <li class="link">
          <h5 [routerLink]="['/about']" routerLinkActive="active">
            <a>about</a>
          </h5>
        </li>
        <li class="link">
          <h5 [routerLink]="['/projects']" routerLinkActive="active">
            <a>projects</a>
          </h5>
        </li>
        <li class="link">
          <h5 [routerLink]="['/thoughts']" routerLinkActive="active">
            <a>thoughts</a>
          </h5>
        </li>
      </ul>
    </li>
  </ul>
</div>
