.about {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  > div {
    width: 40%;
  }

  > div {
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.8rem;
    padding: 2rem;

    > * {
      margin-top: 1rem;
    }

    h2 {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}

ul {
  list-style-type: none;
  width: 100%;

  li {
    display: inline;
  }
}

.list-container {
  width: 5%;
}

.image-container {
  padding: 0.5%;
  width: 100%;
}

li:last-of-type {
  h5 a div {
    margin-left: 11%;
    width: 80%;
  }
}

img {
  width: 100%;
}
