<div class="about page-container">
  <div>
    <app-layout
      header="Software engineer creating experiences at the intersection of design and function"
    >
      <div class="sub-header">
        <p>
          Currently working at Wonderlabs Technologies, and on my offtime:
          projects like
          <span class="link">
            <a
              href="https://apps.apple.com/ca/app/moment-meditation/id6590602340"
              target="_blank"
              rel="noopener noreferrer"
              >Moment</a
            ></span
          >, a meditation app for iOS/watchOS and PriceProphet (tba)
        </p>
        <p>
          Fond of functional programming, mathematics, technology's role in
          improving our life and connection with others, fitness, photography,
          and the future.
        </p>
      </div>
      <div>
        <ul>
          <li *ngFor="let link of links" class="link">
            <h5>
              <a [href]="link.link" target="_blank" rel="noopener noreferrer"
                >{{ link.title }}</a
              >
            </h5>
          </li>
        </ul>
      </div></app-layout
    >
  </div>
</div>
