#projects {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 4rem;
  width: 90%;

  div {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.8rem;

    h2 {
      padding: 0;
      margin: 0;
      width: 100%;
    }

    h5 {
      // font-size: 1.6rem;
    }
  }
}
