@import "prismjs/themes/prism.css";

/* Global styles and custom properties */
:root {
  color-scheme: light dark;
  --white: rgba(255, 255, 255, 0.9);
  --black: #151515;
  --text-color-dark-mode: var(--white);
  --text-color-light-mode: var(--black);
  --link-color-light-mode: var(--black);

  color: var(--text-color-dark-mode);
  background-color: var(--black);
  letter-spacing: 0.013rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color-light-mode);
    background-color: var(--white);
  }
  a {
    color: var(--link-color-light-mode);
  }
  a:hover {
    color: #747bff;
  }

  .active a {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* Button styles */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Body and HTML base styles */
html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

h1,
h2 {
  line-height: 1.1;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-size: 3.2rem;
}

app-root {
  font-size: 1.6rem;
  overflow-x: hidden;
}

/* Layout styles */
#container {
  height: 100vh;
  padding: 2rem;
}

/* Link styles */
.link {
  cursor: pointer;
  color: var(--text-color-dark-mode);
}

.link h5 {
  font-size: 1.6rem;
  margin: 0.5rem;
}

.link--no-underline a {
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  .link {
    color: var(--link-color-light-mode);
  }
}

/* Content container styling */
.content {
  margin: 8% 0;
  padding: 0 5%;
  min-height: 70vh;
  display: block; /* Default for mobile */
  flex-direction: column;
  align-items: center;

  @media (min-width: 996px) {
    display: flex; /* Flex on wider screens */
  }

  app-about,
  thoughts,
  projects {
    height: 70vh;
  }
}

/* Responsive images */
img {
  width: auto;

  @media (max-width: 670px) {
    width: 100%;
  }
}

/* Markdown route styles */
.analog-markdown-route h5 {
  font-size: 1.6rem;
  margin: 0.5rem;
}

.analog-markdown-route h2 {
  font-size: 3.2rem;
}

@media (prefers-color-scheme: light) {
  .analog-markdown-route a {
    color: var(--link-color-light-mode);
  }
}
