/* You can add global styles to this file, and also import other style files */
:root {
  /*font-family: Inter, Avenir, Helvetica, Arial, sans-serif;*/
  color-scheme: light dark;
  color: var(--text-color-dark-mode);
  background-color: var(--black);
  letter-spacing: 0.013rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text-color-dark-mode: var(--white);
  --white: rgba(255, 255, 255, 0.9);

  /* --black: #100f0f; */
  /* --black: #040303; */
  --black: #151515;
  --text-color-light-mode: var(--black);
  --link-color-light-mode: var(--black);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color-light-mode);
    background-color: var(--white);
  }
  a {
    color: var(--link-color-light-mode);
  }

  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body,
html {
  height: 100%;
  margin: 0;
  width: 100%;
}

html {
  font-size: 62.5%; /* 1.0rem = 10px*/
}

h1,
h2 {
  line-height: 1.1;
  margin: 0;
  padding: 0;
  width: 100%;
}

app-root {
  font-size: 1.6rem;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2rem;
}

#container {
  height: 100vh;
  padding: 2rem 2rem 0 2rem;
}

.page-container {
  height: 100%;
  overflow-x: hidden;
  width: 100%;

  > div {
    margin-bottom: 22rem;
  }
}

.link {
  cursor: pointer;
  color: var(--text-color-dark-mode);

  :is(a) {
    color: var(--text-color-dark-mode);
  }

  &.link--no-underline {
    h5 {
      :is(a) {
        text-decoration: none;
      }
    }
  }
}

.link h5 {
  font-size: 1.6rem;
  margin: 0.5rem;
}

@media (prefers-color-scheme: light) {
  .link {
    color: var(--link-color-light-mode);

    :is(a) {
      color: var(--link-color-light-mode);
    }
  }
}

analog-markdown-route {
  height: 100vh;
  padding: 2rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.analog-markdown-route {
  line-height: 1.1;
  margin-bottom: 44rem;
  padding: 0 4rem;

  :is(a) {
    color: var(--text-color-dark-mode);
    font-weight: 590;
  }
}

.analog-markdown-route h5 {
  font-size: 1.6rem;
  margin: 0.5rem;
}

.analog-markdown-route h2 {
  font-size: 3.2rem;
}

@media (prefers-color-scheme: light) {
  .analog-markdown-route {
    :is(a) {
      color: var(--link-color-light-mode);
    }
  }
}
